UPDATE spiderbro_shows set finished=1 where showname in ("American Dad!", "Attack on Titan", "Behind The Music", "Black Sails", "Castle (2009)", "Channel 4 (UK) Documentaries", "Charlie Brooker's Screenwipe", "Charlie Brooker's Weekly Wipe", "China, IL", "Count Arthur Strong", "Fresh Meat", "Ghost in the Shell: Arise - Alternative Architecture", "Gotham", "Hell's Kitchen (RO)", "Hell's Kitchen (US)", "House of Cards (US)", "It's Me or the Dog", "Lost Girl", "Louie (2010)", "Louis Theroux", "Never Mind the Buzzcocks", "Secret Eaters", "The 100", "The Americans (2013)", "The Big Fat Quiz of the Year", "The Boondocks", "The Great British Bake Off", "The Leftovers", "The Man in the High Castle", "The Mysterious Cities of Gold", "The Strain");